@CHARSET "ISO-8859-1";

#previewImage {
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}

#profilePicture {
	position: relative;
	height: 50%;
	width: 50%;
}

#messageTerminal {
	height: 100px;
	width: 80%;
}

.leftColumn {
	width: 50%;
	left: 0;
}

.fullColumn
{
	margin-top:	2%;
}

#sendBtn {
	margin-bottom: 5px
}

#userGreeting {
	position: relative;
	height: 10%;
}

.rightColumn {
	position: absolute;
	top: 10%;
	width: 50%;
	right: 0;
	width: 50%;
}

#messageHistory {
	width: 80%;
	height: 10%;
}

#onlineUserTable {
	width: 50%;
}

.onlineUserProfilePictures {
	height: 50px;
	width: 50px;
}

#inbox {
	width: 100%;
}

tbody tr:hover {
	background-color: #5fb9ff;
}

[data-receiver] {
	background-color: #5fb9ff;
}