@CHARSET "ISO-8859-1";

#previewImage {
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}

#profilePicture {
	position: fixed;
	height: 25%;
	width: 25%;
}

#messageTerminal {
	height: 100px;
	width: 50%;
}

#messageHistory {
	width: 80%;
	height: 10%;
}

#onlineUserTable {
	width: 50%;
}

.onlineUserProfilePictures
{
	height: 50px;
	width: 50px;
}

tbody tr:hover
{
	background-color: #5fb9ff;
}

[data-receiver]
{
	background-color: #5fb9ff;
}

#inbox
{
	position: absolute;
	width: 60%;
	top: 10%;
	left: 40%;
}