@CHARSET "ISO-8859-1";

#previewImage {
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}

#profilePicture {
	height: 300px;
	width: 300px;
}

#messageTerminal {
	height: 100px;
	width: 50%;
}

#messageHistory {
	width: 80%;
	height: 300px;
}

#onlineUserTable {
	width: 50%;
}

#messageTerminal.new {
	color: blue;
}